div.waapplication_waForm {
    width: 50%;
    float: right;
}

form.waform
{
	float: none;
	padding-bottom: 0;
        position: relative;
        margin-top: -12.3rem;
}

form.waform label
{
	cursor: default;
}

form.waform div.container {
/*	margin-right: 0;
	margin-left: 0;
	float: right;*/

	width: unset;
	/*padding-left: 50%;*/
}

div.waapplication_title {
	display: inline;
    float: left;
}

#waForm_typeahead_table_name_typeahead {
	width: 60%;
	display: inline;
}

#lbl_waForm_typeahead_table_name {
	font-weight: normal;
}

#waForm_typeahead_table_name_control_container {
	/*margin-top: -36px;*/
	margin-bottom: 0;
}


/* FK Tooltip container */
.waapplication_fk_tooltip {
  position: absolute;
  display: none;
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
}

