@CHARSET "UTF-8";

@import url("waform.css");
@import url("watable.css");
@import url("wamenu.css");

html
	{
	}
	
body
	{
	margin: 5rem;
	margin-top: 1rem;
	}
	
div.waapplication_title
{
	font-size: 2rem;
	margin-left: 6px;
	cursor: pointer;
}

div.waapplication_env
{
	font-size: 2rem;
	margin-left: 6px;
	text-transform: uppercase;
}

div.waapplication_subtitle
{
	margin-left: 6px;
}

div.waapplication_version_data
{
	margin-top: 4rem;
	margin-left: 6px;
	clear: both;
}

div.waapplication_back_button,
div.waapplication_close_page_button,
div.waapplication_message
{
	margin: 4rem 6px;
	padding: 0;
}

div.waapplication_help_text,
div.waapplication_generic_help_link
{
	margin: 4rem 6px;
}

table.uqueryall
{
}

table.uqueryall td, table.uqueryall th 
{
	border: #000 1px solid;
	border-collapse: collapse;
	padding: .3rem 1rem;
}

div.waapplication_title1,
div.waapplication_title2,
div.waapplication_title3
{
	margin-top: 1rem;
	margin-left: 6px;
	font-size: 2rem;
}

div.waapplication_testo_libero {
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 6px;
	
}

div#waForm_typeahead_table_name_control_container {
	text-align: right;
	
}

