form.waform
{
	padding-left: 6px;
	float: left;
}

form.waform div.container
{
	padding-left: 0;
}

form.waform label
{
	cursor: pointer;
}

form.waform label.disabled
{
	cursor: default;
}


form.waform ul.nav-tabs
{
    border-bottom: #777 1px solid;
}	

form.waform ul.nav-tabs li a
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    /*font-size: 1.6rem;*/
    background-color: #ccc;
    border: #777 1px solid;
    min-width: 120px;
    text-align: center;

}	

form.waform ul.nav-tabs li.active a
{
    border: #777 1px solid;
    border-bottom: #fff 1px solid;
    background-color: #fff;
}	

form.waform label[id^="waform_lblradio_"]
{
    margin-right: 2rem;
}	


