div.waapplication_wamenu
{
	margin-left: 6px;
	margin-right: 6px;
}

.dropdown-menu
{
	max-width: 80em !important;
}

div.waapplication_waMenu div.navbar-collapse.collapse {
	padding: 0;
}

div.waapplication_waMenu div.navbar-collapse.collapse [id^="waMenu_"]{
	border: #ddd 1px solid;
}


div.waapplication_waMenu div.navbar-collapse.collapse ul.dropdown-menu [id^="waMenu_"]{
	border: none;
	color: red;
}

