div.watable_navbar
{
	margin: 0;
}

form.watable table th.id_cell,
form.watable table td.id_cell
{
	width: 1px;
}

form.watable button
{
	border: #ddd 1px solid;
}

form.watable div.table-responsive
{
	overflow-x: initial;
}

form.watable div.table-responsive th
{
	position: sticky;
        top: 0;
}

.watable_navbar_text 
{
	margin-top: -2rem;
}

div.waapplication_waTable ul.pagination {
	margin-top: 4px;
}